name: "Build all packages using Nix"
on:
  push:
    paths:
      # Run the workflow <=> when relevant files are changed
      - 'flake.nix'
      - 'overlay/**.nix'
jobs:
  nix-checks:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Formatting check
        run: nix develop .dev#ci --command build-all-features
